@font-face {
    font-family: 'Milky Nice';
    font-style: normal;
    font-weight: 400;
    src: local('Milky Nice'), url('../fonts/milky_nice/MilkyNice.otf') format('woff');
}

@font-face {
    font-family: 'Milky Nice';
    font-style: normal;
    font-weight: 400;
    src: local('Milky Nice'), url('../fonts/milky_nice/MilkyNice-Clean.otf') format('woff');
}